body {
  font-family: "Ubuntu",sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  background-color: #fff
}

body .content {
  background-color: #fff
}

body .homepage-content {
  font-family: monospace;
  font-weight: bold;
  font-size: 20px
}

body .blogpage-content {
  text-align: left
}

body .blogpage-content .yearentry {
  font-weight: 800
}

body .post-content .yearentry {
  font-weight: 800
}

body .post-content #homelink {
  font-weight: 800
}

body .post-content #archiveheader {
  font-weight: 800
}

body .post-content table {
  border: 1px solid #666666
}

body .post-content td,body .post-content th {
  border: 1px solid #666666;
  padding: 5px
}

body a {
  text-decoration: none;
  color: #6b6b6b
}

body a:hover {
  text-decoration: none;
  color: #1210ff
}

